/* Universal selector. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Selects the background color for the entire document. */
body {
    background-color: #d9dcd6;
}

/* Selects the font-family, size, alignment, and colors for the Class in the header. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Text Selector for Heading. */
.header h1 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color:#ffffff;
    display: inline-block;
    font-size: 48px;
}

/* Text Selector for a class within the heading. */
.header h1 .seo {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    font-size: 48px;
}

/* Selects the text of the Links at the top of the page. */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #2a607c;
}

/* Selects the text and alignment for the Class of the List and List items within the header. */
.header section ul {
    padding-top: 15px;
    margin-right: 20px;
    float:right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    color: #ffffff;
    background-color: #2a607c;
}

/* Sets the display and alignment for the links at the top of the page. */
.header section ul li {
    display: inline-block;
    text-align: inherit;
    margin-left: 25px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #2a607c;
}

/* Selects the text for the Anchor and Paragraph Elements within the Document. */
a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #2a607c;
    font-size: 20px;
}

/* Selects font properties for all of the paragraphs in the document. */
p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*  Selects the margins and alignment for the main image on the top of the page. */ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Selects the alignment and margins of the main content of the page. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Selects the alignment and of the search engine optimization section of the page. */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Selects the size of the image in the search engine optimization class. */
.search-engine-optimization img {
    max-height: 200px;
}

/* Floats Selected text to the left. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Selects text properties for the search engine optimization heading. */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Selects the alignment and font of the online reputation management class. */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Selects the size of the image for online reputation management. */
.online-reputation-management img {
    max-height: 200px;
}

/* Selects the text properties for the online reputation management heading. */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Floats Selected text to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets the margin and font for the social media marketing section. */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the max size for the social media marketing image. */
.social-media-marketing img {
    max-height: 200px;
}

/* Sets text properties for the social media marketing heading. */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
 /* Sets the margins colors and aloi */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the margin font and colors for the lead generation section. */
.benefit-lead {
    margin-bottom: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Selects the properties for the lead generation heading. */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Image Selector. */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Selects margins and text properties for the Brand awareness section. */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets text properties for the brand awareness heading. */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the alginment properties for the brand awareness image. */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets margin and text properties for the cost management section. */
.benefit-cost {
    margin-bottom: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the text and alignment properties for the cost management heading. */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the properties for the cost management image. */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets properties for the footing. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #2a607c;
    color: #ffffff;
}

/* Properties for the header in the footing. */
.footer h2 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #2a607c;
    color: #ffffff;
}